In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\hp\anaconda3\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\hp\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
# loading the data
data= pd.read_csv("cardata.csv")

In [4]:
data.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0,3.35
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0,4.75
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0,7.25
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0,2.85
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0,4.60

In [5]:
data.shape

(301, 9)

In [6]:
data["Selling_Price"].unique()

array([ 3.35,  4.75,  7.25,  2.85,  4.6 ,  9.25,  6.75,  6.5 ,  8.75,
        7.45,  6.85,  7.5 ,  6.1 ,  2.25,  7.75,  3.25,  2.65,  4.9 ,
        4.4 ,  2.5 ,  2.9 ,  3.  ,  4.15,  6.  ,  1.95,  3.1 ,  2.35,
        4.95,  5.5 ,  2.95,  4.65,  0.35,  5.85,  2.55,  1.25,  1.05,
        5.8 , 14.9 , 23.  , 18.  , 16.  ,  2.75,  3.6 ,  4.5 ,  4.1 ,
       19.99,  6.95, 18.75, 23.5 , 33.  , 19.75,  4.35, 14.25,  3.95,
        1.5 ,  5.25, 14.5 , 14.73, 12.5 ,  3.49, 35.  ,  5.9 ,  3.45,
        3.8 , 11.25,  3.51,  4.  , 20.75, 17.  ,  7.05,  9.65,  1.75,
        1.7 ,  1.65,  1.45,  1.35,  1.2 ,  1.15,  1.11,  1.1 ,  1.  ,
        0.95,  0.9 ,  0.75,  0.8 ,  0.78,  0.72,  0.65,  0.6 ,  0.55,
        0.52,  0.51,  0.5 ,  0.48,  0.45,  0.42,  0.4 ,  0.38,  0.31,
        0.3 ,  0.27,  0.25,  0.2 ,  0.18,  0.17,  0.16,  0.15,  0.12,
        0.1 ,  5.75,  5.15,  7.9 ,  4.85, 11.75,  3.15,  6.45,  3.5 ,
        8.25,  5.11,  2.7 ,  6.15, 11.45,  3.9 ,  9.1 ,  4.8 ,  2.  ,
        5.35,  6.25,  5.95,  5.2 ,  3.75, 12.9 ,  5.  ,  5.4 ,  7.2 ,
       10.25,  8.5 ,  8.4 ,  9.15,  6.6 ,  3.65,  8.35,  6.7 ,  5.3 ,
       10.9 ,  8.65,  9.7 ,  2.1 ,  8.99,  7.4 ,  5.65, 10.11,  6.4 ,
        8.55,  9.5 , 11.5 ])

In [7]:
data.size

2709

In [6]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

import warnings
warnings.filterwarnings('ignore')

In [2]:
# import os                           # no need to run if you are using jupyter & made all environment
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"

In [7]:
# Create spark sesion

conf = SparkConf().set('spark.ui.port', '4050').setAppName("films").setMaster("local[2]")
sc = SparkContext.getOrCreate(conf=conf)
sqlContext = SQLContext(sc)
#sc.stop()

In [8]:
sc

In [12]:
# reading data using spark
df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load("cardata.csv")
df.show()

+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|     Car_Name|Year|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|Selling_Price|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|         ritz|2014|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|         3.35|
|          sx4|2013|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|         4.75|
|         ciaz|2017|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|         7.25|
|      wagon r|2011|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|         2.85|
|        swift|2014|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|          4.6|
|vitara brezza|2018|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|         9.25|
|         ciaz|2015|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|         6.75|
|      s cross|2015|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|          6.5|
|         ciaz|2016|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|         8.75|
|         ciaz|2015|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|         7.45|
|     alto 800|2017|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|         2.85|
|         ciaz|2015|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|         6.85|
|         ciaz|2015|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|          7.5|
|       ertiga|2015|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|          6.1|
|        dzire|2009|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|         2.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|
|       ertiga|2015|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|         7.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|
|      wagon r|2015|         5.09|     35500|      CNG|     Dealer|      Manual|    0|         3.25|
|          sx4|2010|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|         2.65|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
only showing top 20 rows

In [6]:
# Read data from the URL into a DataFrame
# data = spark.read.text(url)

In [14]:
# Exploring data using Spark
df.show()

+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|     Car_Name|Year|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|Selling_Price|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|         ritz|2014|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|         3.35|
|          sx4|2013|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|         4.75|
|         ciaz|2017|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|         7.25|
|      wagon r|2011|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|         2.85|
|        swift|2014|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|          4.6|
|vitara brezza|2018|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|         9.25|
|         ciaz|2015|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|         6.75|
|      s cross|2015|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|          6.5|
|         ciaz|2016|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|         8.75|
|         ciaz|2015|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|         7.45|
|     alto 800|2017|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|         2.85|
|         ciaz|2015|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|         6.85|
|         ciaz|2015|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|          7.5|
|       ertiga|2015|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|          6.1|
|        dzire|2009|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|         2.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|
|       ertiga|2015|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|         7.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|
|      wagon r|2015|         5.09|     35500|      CNG|     Dealer|      Manual|    0|         3.25|
|          sx4|2010|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|         2.65|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
only showing top 20 rows

In [15]:
# checking all column dataypes
df.printSchema()

root
 |-- Car_Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Present_Price: double (nullable = true)
 |-- Kms_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner: integer (nullable = true)
 |-- Selling_Price: double (nullable = true)

In [17]:
#Selecting single column
df.select('car_name').show()

+-------------+
|     car_name|
+-------------+
|         ritz|
|          sx4|
|         ciaz|
|      wagon r|
|        swift|
|vitara brezza|
|         ciaz|
|      s cross|
|         ciaz|
|         ciaz|
|     alto 800|
|         ciaz|
|         ciaz|
|       ertiga|
|        dzire|
|       ertiga|
|       ertiga|
|       ertiga|
|      wagon r|
|          sx4|
+-------------+
only showing top 20 rows

In [22]:
#selecting multiple columns
df.select(['car_name', 'selling_price']).show()

+-------------+-------------+
|     car_name|selling_price|
+-------------+-------------+
|         ritz|         3.35|
|          sx4|         4.75|
|         ciaz|         7.25|
|      wagon r|         2.85|
|        swift|          4.6|
|vitara brezza|         9.25|
|         ciaz|         6.75|
|      s cross|          6.5|
|         ciaz|         8.75|
|         ciaz|         7.45|
|     alto 800|         2.85|
|         ciaz|         6.85|
|         ciaz|          7.5|
|       ertiga|          6.1|
|        dzire|         2.25|
|       ertiga|         7.75|
|       ertiga|         7.25|
|       ertiga|         7.75|
|      wagon r|         3.25|
|          sx4|         2.65|
+-------------+-------------+
only showing top 20 rows

In [21]:
df.count()

301

In [23]:
### Adding Columns in data frame
df_pyspark = df.withColumn('add_p', df['selling_price']+1000)
df_pyspark.show()

+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+-------+
|     Car_Name|Year|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|Selling_Price|  add_p|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+-------+
|         ritz|2014|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|         3.35|1003.35|
|          sx4|2013|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|         4.75|1004.75|
|         ciaz|2017|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|         7.25|1007.25|
|      wagon r|2011|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|         2.85|1002.85|
|        swift|2014|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|          4.6| 1004.6|
|vitara brezza|2018|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|         9.25|1009.25|
|         ciaz|2015|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|         6.75|1006.75|
|      s cross|2015|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|          6.5| 1006.5|
|         ciaz|2016|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|         8.75|1008.75|
|         ciaz|2015|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|         7.45|1007.45|
|     alto 800|2017|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|         2.85|1002.85|
|         ciaz|2015|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|         6.85|1006.85|
|         ciaz|2015|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|          7.5| 1007.5|
|       ertiga|2015|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|          6.1| 1006.1|
|        dzire|2009|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|         2.25|1002.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|1007.75|
|       ertiga|2015|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|         7.25|1007.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|1007.75|
|      wagon r|2015|         5.09|     35500|      CNG|     Dealer|      Manual|    0|         3.25|1003.25|
|          sx4|2010|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|         2.65|1002.65|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+-------+
only showing top 20 rows

In [24]:
### Drop the columns
df_pyspark=df_pyspark.drop('add_p')

In [21]:
df.show()

+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|     Car_Name|Year|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|Selling_Price|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|         ritz|2014|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|         3.35|
|          sx4|2013|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|         4.75|
|         ciaz|2017|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|         7.25|
|      wagon r|2011|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|         2.85|
|        swift|2014|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|          4.6|
|vitara brezza|2018|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|         9.25|
|         ciaz|2015|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|         6.75|
|      s cross|2015|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|          6.5|
|         ciaz|2016|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|         8.75|
|         ciaz|2015|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|         7.45|
|     alto 800|2017|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|         2.85|
|         ciaz|2015|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|         6.85|
|         ciaz|2015|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|          7.5|
|       ertiga|2015|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|          6.1|
|        dzire|2009|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|         2.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|
|       ertiga|2015|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|         7.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|
|      wagon r|2015|         5.09|     35500|      CNG|     Dealer|      Manual|    0|         3.25|
|          sx4|2010|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|         2.65|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
only showing top 20 rows

In [25]:
### Rename the columns
df_pyspark.withColumnRenamed('owner','car_owner').show()

+-------------+----+-------------+----------+---------+-----------+------------+---------+-------------+
|     Car_Name|Year|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|car_owner|Selling_Price|
+-------------+----+-------------+----------+---------+-----------+------------+---------+-------------+
|         ritz|2014|         5.59|     27000|   Petrol|     Dealer|      Manual|        0|         3.35|
|          sx4|2013|         9.54|     43000|   Diesel|     Dealer|      Manual|        0|         4.75|
|         ciaz|2017|         9.85|      6900|   Petrol|     Dealer|      Manual|        0|         7.25|
|      wagon r|2011|         4.15|      5200|   Petrol|     Dealer|      Manual|        0|         2.85|
|        swift|2014|         6.87|     42450|   Diesel|     Dealer|      Manual|        0|          4.6|
|vitara brezza|2018|         9.83|      2071|   Diesel|     Dealer|      Manual|        0|         9.25|
|         ciaz|2015|         8.12|     18796|   Petrol|     Dealer|      Manual|        0|         6.75|
|      s cross|2015|         8.61|     33429|   Diesel|     Dealer|      Manual|        0|          6.5|
|         ciaz|2016|         8.89|     20273|   Diesel|     Dealer|      Manual|        0|         8.75|
|         ciaz|2015|         8.92|     42367|   Diesel|     Dealer|      Manual|        0|         7.45|
|     alto 800|2017|          3.6|      2135|   Petrol|     Dealer|      Manual|        0|         2.85|
|         ciaz|2015|        10.38|     51000|   Diesel|     Dealer|      Manual|        0|         6.85|
|         ciaz|2015|         9.94|     15000|   Petrol|     Dealer|   Automatic|        0|          7.5|
|       ertiga|2015|         7.71|     26000|   Petrol|     Dealer|      Manual|        0|          6.1|
|        dzire|2009|         7.21|     77427|   Petrol|     Dealer|      Manual|        0|         2.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|        0|         7.75|
|       ertiga|2015|        10.79|     41678|   Diesel|     Dealer|      Manual|        0|         7.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|        0|         7.75|
|      wagon r|2015|         5.09|     35500|      CNG|     Dealer|      Manual|        0|         3.25|
|          sx4|2010|         7.98|     41442|   Petrol|     Dealer|      Manual|        0|         2.65|
+-------------+----+-------------+----------+---------+-----------+------------+---------+-------------+
only showing top 20 rows

In [26]:
# Filter rows with any null values
from pyspark.sql.functions import col

null_records = df_pyspark.filter(
    col("Car_Name").isNull() |
    col("Present_Price").isNull() |
    col("Transmission").isNull() 
    # Add more columns as needed...
)

# Display the null records
null_records.show()

+--------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|Car_Name|Year|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|Selling_Price|
+--------+----+-------------+----------+---------+-----------+------------+-----+-------------+
+--------+----+-------------+----------+---------+-----------+------------+-----+-------------+

In [27]:
### how='any' -> drop a row if it contains any no. of nulls.
df_pyspark.na.drop(how="any").show()

+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|     Car_Name|Year|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|Selling_Price|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
|         ritz|2014|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|         3.35|
|          sx4|2013|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|         4.75|
|         ciaz|2017|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|         7.25|
|      wagon r|2011|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|         2.85|
|        swift|2014|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|          4.6|
|vitara brezza|2018|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|         9.25|
|         ciaz|2015|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|         6.75|
|      s cross|2015|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|          6.5|
|         ciaz|2016|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|         8.75|
|         ciaz|2015|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|         7.45|
|     alto 800|2017|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|         2.85|
|         ciaz|2015|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|         6.85|
|         ciaz|2015|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|          7.5|
|       ertiga|2015|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|          6.1|
|        dzire|2009|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|         2.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|
|       ertiga|2015|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|         7.25|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|
|      wagon r|2015|         5.09|     35500|      CNG|     Dealer|      Manual|    0|         3.25|
|          sx4|2010|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|         2.65|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+
only showing top 20 rows

In [28]:
### Selling price of the car less than to 4
df_pyspark.filter("Selling_Price<4").select(['car_Name','Year', 'Selling_Price']).show()

+--------+----+-------------+
|car_Name|Year|Selling_Price|
+--------+----+-------------+
|    ritz|2014|         3.35|
| wagon r|2011|         2.85|
|alto 800|2017|         2.85|
|   dzire|2009|         2.25|
| wagon r|2015|         3.25|
|     sx4|2010|         2.65|
|alto k10|2016|         2.85|
|alto k10|2014|          2.5|
| wagon r|2013|          2.9|
|   swift|2011|          3.0|
|alto k10|2010|         1.95|
|    ritz|2012|          3.1|
|    ritz|2011|         2.35|
|     sx4|2011|         2.95|
|     800|2003|         0.35|
|alto k10|2016|          3.0|
|     sx4|2003|         2.25|
|alto k10|2014|         2.55|
|     sx4|2008|         1.95|
|    omni|2012|         1.25|
+--------+----+-------------+
only showing top 20 rows

In [29]:
df_pyspark.filter("Selling_Price<4").select(['car_Name','Year', 'Selling_Price']).count()

159

In [30]:
# counting the occurrences of each seller type group having kms driven greater than 20000
df_transformed =df_pyspark.filter(df["kms_driven"] > 20000).groupBy("Seller_Type").count()
df_transformed.show()

+-----------+-----+
|Seller_Type|count|
+-----------+-----+
| Individual|   49|
|     Dealer|  151|
+-----------+-----+

In [33]:
# total records in which car kms less than 10k & greater than 30k
df_pyspark.filter((df_pyspark['kms_driven']<=10000) |
                  (df_pyspark['kms_driven']>=30000)).count()

207

In [34]:
# mean value of numerical column
df_pyspark.groupBy('car_Name').mean().show()

+--------------------+------------------+------------------+------------------+----------+------------------+
|            car_Name|         avg(Year)|avg(Present_Price)|   avg(Kms_Driven)|avg(Owner)|avg(Selling_Price)|
+--------------------+------------------+------------------+------------------+----------+------------------+
|            TVS Wego|            2010.0|              0.52|           22000.0|       0.0|              0.25|
|           Hero Hunk|            2007.0|              0.75|           49000.0|       1.0|               0.2|
|                 800|            2003.0|              2.28|          127000.0|       0.0|              0.35|
|   Yamaha FZ S V 2.0|2015.6666666666667|              0.84|28666.666666666668|       0.0|0.6033333333333334|
|       corolla altis|         2012.0625|           17.5825|         54293.875|       0.0|7.1831249999999995|
|             wagon r|           2011.25|              4.45|          40644.75|       0.0|            2.5125|
|Royal Enfield Thu...|2014.6666666666667|1.8999999999999997| 7466.666666666667|       0.0|               1.3|
|  UM Renegade Mojave|            2017.0|              1.82|            1400.0|       0.0|               1.7|
|           Activa 4g|            2017.0|              0.51|            1300.0|       0.0|               0.4|
|      Hyosung GT250R|            2014.0|              3.45|           16500.0|       1.0|              1.35|
|   Bajaj Dominar 400|            2017.0|               1.6|            1200.0|       0.0|              1.45|
|   Bajaj Avenger 220|2016.6666666666667|0.9499999999999998|1766.6666666666667|       0.0|              0.79|
|  Bajaj Discover 125|            2011.5|              0.57|           30000.0|       1.0|             0.175|
|  Hero Splender Plus|            2016.0|              0.48|           50000.0|       0.0|               0.3|
|         etios cross|2014.6666666666667| 7.966666666666666|54707.333333333336|       0.0| 4.633333333333334|
|        Yamaha FZ 16|            2015.0|              0.82|           18000.0|       0.0|              0.75|
|           KTM RC390|            2015.0|              2.37|           21700.0|       0.0|              1.35|
| Mahindra Mojo XT300|            2016.0|               1.4|           35000.0|       0.0|              1.15|
|               creta|2015.6666666666667|              13.6|42201.666666666664|       0.0|11.799999999999999|
|                 i10|            2011.6|             4.566|           39750.4|       0.0|              3.06|
+--------------------+------------------+------------------+------------------+----------+------------------+
only showing top 20 rows

In [37]:
df_pyspark.agg({'kms_driven':'sum'}).show()

+---------------+
|sum(kms_driven)|
+---------------+
|       11121109|
+---------------+

In [38]:
## Descriptive analysis
df1 =df_pyspark.toPandas()
df1

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0,3.35
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0,4.75
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0,7.25
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0,2.85
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0,4.60
...,...,...,...,...,...,...,...,...,...
296,city,2016,11.60,33988,Diesel,Dealer,Manual,0,9.50
297,brio,2015,5.90,60000,Petrol,Dealer,Manual,0,4.00
298,city,2009,11.00,87934,Petrol,Dealer,Manual,0,3.35
299,city,2017,12.50,9000,Diesel,Dealer,Manual,0,11.50
300,brio,2016,5.90,5464,Petrol,Dealer,Manual,0,5.30

# Feature Encoding

In [40]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline

In [41]:
categorical_columns = ['Fuel_Type', 'Seller_Type', 'Transmission']

indexers = [StringIndexer(inputCol=column, outputCol=column+"_index") for column in categorical_columns]


pipeline = Pipeline(stages=indexers)

model = pipeline.fit(df_pyspark)
df_pyspark = model.transform(df_pyspark)
df_pyspark.show()

+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+---------------+-----------------+------------------+
|     Car_Name|Year|Present_Price|Kms_Driven|Fuel_Type|Seller_Type|Transmission|Owner|Selling_Price|Fuel_Type_index|Seller_Type_index|Transmission_index|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+---------------+-----------------+------------------+
|         ritz|2014|         5.59|     27000|   Petrol|     Dealer|      Manual|    0|         3.35|            0.0|              0.0|               0.0|
|          sx4|2013|         9.54|     43000|   Diesel|     Dealer|      Manual|    0|         4.75|            1.0|              0.0|               0.0|
|         ciaz|2017|         9.85|      6900|   Petrol|     Dealer|      Manual|    0|         7.25|            0.0|              0.0|               0.0|
|      wagon r|2011|         4.15|      5200|   Petrol|     Dealer|      Manual|    0|         2.85|            0.0|              0.0|               0.0|
|        swift|2014|         6.87|     42450|   Diesel|     Dealer|      Manual|    0|          4.6|            1.0|              0.0|               0.0|
|vitara brezza|2018|         9.83|      2071|   Diesel|     Dealer|      Manual|    0|         9.25|            1.0|              0.0|               0.0|
|         ciaz|2015|         8.12|     18796|   Petrol|     Dealer|      Manual|    0|         6.75|            0.0|              0.0|               0.0|
|      s cross|2015|         8.61|     33429|   Diesel|     Dealer|      Manual|    0|          6.5|            1.0|              0.0|               0.0|
|         ciaz|2016|         8.89|     20273|   Diesel|     Dealer|      Manual|    0|         8.75|            1.0|              0.0|               0.0|
|         ciaz|2015|         8.92|     42367|   Diesel|     Dealer|      Manual|    0|         7.45|            1.0|              0.0|               0.0|
|     alto 800|2017|          3.6|      2135|   Petrol|     Dealer|      Manual|    0|         2.85|            0.0|              0.0|               0.0|
|         ciaz|2015|        10.38|     51000|   Diesel|     Dealer|      Manual|    0|         6.85|            1.0|              0.0|               0.0|
|         ciaz|2015|         9.94|     15000|   Petrol|     Dealer|   Automatic|    0|          7.5|            0.0|              0.0|               1.0|
|       ertiga|2015|         7.71|     26000|   Petrol|     Dealer|      Manual|    0|          6.1|            0.0|              0.0|               0.0|
|        dzire|2009|         7.21|     77427|   Petrol|     Dealer|      Manual|    0|         2.25|            0.0|              0.0|               0.0|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|            1.0|              0.0|               0.0|
|       ertiga|2015|        10.79|     41678|   Diesel|     Dealer|      Manual|    0|         7.25|            1.0|              0.0|               0.0|
|       ertiga|2016|        10.79|     43000|   Diesel|     Dealer|      Manual|    0|         7.75|            1.0|              0.0|               0.0|
|      wagon r|2015|         5.09|     35500|      CNG|     Dealer|      Manual|    0|         3.25|            2.0|              0.0|               0.0|
|          sx4|2010|         7.98|     41442|   Petrol|     Dealer|      Manual|    0|         2.65|            0.0|              0.0|               0.0|
+-------------+----+-------------+----------+---------+-----------+------------+-----+-------------+---------------+-----------------+------------------+
only showing top 20 rows

In [17]:
df_pyspark.printSchema()

root
 |-- Car_Name: string (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Present_Price: double (nullable = true)
 |-- Kms_Driven: integer (nullable = true)
 |-- Fuel_Type: string (nullable = true)
 |-- Seller_Type: string (nullable = true)
 |-- Transmission: string (nullable = true)
 |-- Owner: integer (nullable = true)
 |-- Selling_Price: double (nullable = true)
 |-- Fuel_Type_index: double (nullable = false)
 |-- Seller_Type_index: double (nullable = false)
 |-- Transmission_index: double (nullable = false)

# The VectorAssembler is used to combine multiple input columns into a single vector column.

In [43]:
from pyspark.ml.feature import VectorAssembler

vectorAssembler = VectorAssembler(inputCols = ['Year', 'Present_Price', 'Kms_Driven', 'Owner', 
                                               'Fuel_Type_index', 'Seller_Type_index', 'Transmission_index'], outputCol = 'features')
final_df = vectorAssembler.transform(df_pyspark)
final_df = final_df.select(['features', 'selling_Price', 'Car_Name'])
final_df.show()

+--------------------+-------------+-------------+
|            features|selling_Price|     Car_Name|
+--------------------+-------------+-------------+
|(7,[0,1,2],[2014....|         3.35|         ritz|
|[2013.0,9.54,4300...|         4.75|          sx4|
|(7,[0,1,2],[2017....|         7.25|         ciaz|
|(7,[0,1,2],[2011....|         2.85|      wagon r|
|[2014.0,6.87,4245...|          4.6|        swift|
|[2018.0,9.83,2071...|         9.25|vitara brezza|
|(7,[0,1,2],[2015....|         6.75|         ciaz|
|[2015.0,8.61,3342...|          6.5|      s cross|
|[2016.0,8.89,2027...|         8.75|         ciaz|
|[2015.0,8.92,4236...|         7.45|         ciaz|
|(7,[0,1,2],[2017....|         2.85|     alto 800|
|[2015.0,10.38,510...|         6.85|         ciaz|
|[2015.0,9.94,1500...|          7.5|         ciaz|
|(7,[0,1,2],[2015....|          6.1|       ertiga|
|(7,[0,1,2],[2009....|         2.25|        dzire|
|[2016.0,10.79,430...|         7.75|       ertiga|
|[2015.0,10.79,416...|         7.25|       ertiga|
|[2016.0,10.79,430...|         7.75|       ertiga|
|[2015.0,5.09,3550...|         3.25|      wagon r|
|(7,[0,1,2],[2010....|         2.65|          sx4|
+--------------------+-------------+-------------+
only showing top 20 rows

# Model Building

In [50]:
splits = final_df.randomSplit([0.7, 0.3]) # 70% data -trainining data,,,,,, 30% data- testing data
train_df = splits[0]
test_df = splits[1]
#train_df,test_df=vhouse_df.randomSplit([0.7,0.3])
splits

[DataFrame[features: vector, selling_Price: double, Car_Name: string],
 DataFrame[features: vector, selling_Price: double, Car_Name: string]]

In [51]:
final_df.count()

301

In [47]:
train_df.count()

218

In [48]:
test_df.count()

83

# Linear Regression Model

In [59]:
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol = 'features', labelCol='selling_Price', maxIter= 12)

lr_model = lr.fit(train_df)

print("Intercept: " + str(lr_model.intercept)) # y =mx+c>>>>>>>>c= intercept

Intercept: -723.4479843145875

In [37]:
#vectoreassembler is used to combine multiple column into a single vector column

In [60]:
trainingSummary = lr_model.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2 for training data: %f" % trainingSummary.r2)

RMSE: 1.596861
r2 for training data: 0.874095

In [61]:
lr_predictions = lr_model.transform(test_df)
lr_predictions.select("prediction","selling_Price","features").show(5)

from pyspark.ml.evaluation import RegressionEvaluator

lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="selling_Price",metricName="r2")
print("R Squared (R2) on test data = %g" % lr_evaluator.evaluate(lr_predictions))

+-------------------+-------------+--------------------+
|         prediction|selling_Price|            features|
+-------------------+-------------+--------------------+
|  4.465421651362249|         3.51|(7,[0,1,2],[2005....|
|-0.3255475212217789|         1.05|(7,[0,1,2],[2006....|
| 3.9161324457293176|          3.0|(7,[0,1,2],[2009....|
| 1.1096338536784742|         1.95|(7,[0,1,2],[2010....|
|  3.321030600587619|         2.65|(7,[0,1,2],[2010....|
+-------------------+-------------+--------------------+
only showing top 5 rows

R Squared (R2) on test data = 0.826318

# Decision tree regression

In [58]:
from pyspark.ml.regression import DecisionTreeRegressor

dt = DecisionTreeRegressor(featuresCol ='features', labelCol = 'selling_Price')

dt_model = dt.fit(train_df)

dt_predictions = dt_model.transform(test_df)

dt_evaluator = RegressionEvaluator(
    labelCol="selling_Price", predictionCol="prediction", metricName="rmse")

dt_evaluator_R2 = RegressionEvaluator(
    labelCol="selling_Price", predictionCol="prediction", metricName="r2")

rmse = dt_evaluator.evaluate(dt_predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)
print("R Squared (R2) on test data = %g" % dt_evaluator_R2.evaluate(dt_predictions))

Root Mean Squared Error (RMSE) on test data = 2.78188
R Squared (R2) on test data = 0.80686

In [57]:
dt_predictions.select("prediction","selling_Price","features").show(5)

+------------------+-------------+--------------------+
|        prediction|selling_Price|            features|
+------------------+-------------+--------------------+
| 4.910416666666666|         3.51|(7,[0,1,2],[2005....|
|              2.55|         1.05|(7,[0,1,2],[2006....|
| 4.910416666666666|          3.0|(7,[0,1,2],[2009....|
|              2.55|         1.95|(7,[0,1,2],[2010....|
|2.2833333333333337|         2.65|(7,[0,1,2],[2010....|
+------------------+-------------+--------------------+
only showing top 5 rows

# Gradient-boosted tree regression

In [62]:
from pyspark.ml.regression import GBTRegressor
gbt = GBTRegressor(featuresCol = 'features', labelCol = 'selling_Price', maxIter=10)
gbt_model = gbt.fit(train_df)
gbt_predictions = gbt_model.transform(test_df)
gbt_predictions.select('prediction', 'selling_Price', 'features').show(5)

+------------------+-------------+--------------------+
|        prediction|selling_Price|            features|
+------------------+-------------+--------------------+
| 3.230020818102928|         3.51|(7,[0,1,2],[2005....|
|2.5264772504270705|         1.05|(7,[0,1,2],[2006....|
| 3.504559893844679|          3.0|(7,[0,1,2],[2009....|
|2.3696003369717045|         1.95|(7,[0,1,2],[2010....|
| 2.090847248810684|         2.65|(7,[0,1,2],[2010....|
+------------------+-------------+--------------------+
only showing top 5 rows

In [25]:
gbt_evaluator = RegressionEvaluator(
    labelCol="selling_Price", predictionCol="prediction", metricName="rmse")
gbt_evaluator_r2 = RegressionEvaluator(
    labelCol="selling_Price", predictionCol="prediction", metricName="r2")
rmse = gbt_evaluator.evaluate(gbt_predictions)

print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

print("R Squared (R2) on test data = %g" % gbt_evaluator_r2.evaluate(gbt_predictions))

Root Mean Squared Error (RMSE) on test data = 1.36863
R Squared (R2) on test data = 0.913474

In [63]:
# stop the session
sc.stop()

In [68]:
import pyspark
print(pyspark.__version__)

3.5.0